@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

body {
  background-color: floralwhite;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}
.oculta {
  display: none !important;
}
/* pantalla de inicio de patitas */
#pantalla-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#pantalla-inicio h1 {
  font-size: 3rem;
  color: floralwhite;
  margin-bottom: 20px;
}
.carta-inicio {
  background-color: rgb(17, 81, 17);
  border-radius: 60px;
  padding: 70px;
  max-width: 70%;
  max-height: 150%;
}
.carta-inicio p {
  font-size: 1.5rem;
  color: rgb(130, 205, 141);
  text-align: center;
}
.carta-inicio input {
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 30px;
  border: none;
  margin-top: 20px;
}

.botones-inicio {
  display: flex;
  justify-content: space-around;
}
.botones-inicio button {
  background-color: rgb(221, 139, 32);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 50px;
  transition: all 0.3s ease;
}
.botones-inicio button:hover {
  background-color: rgb(167, 97, 6);
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
