@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800;900&display=swap");

/* --- CONFIGURACIÓN GLOBAL --- */
* {
  box-sizing: border-box;
}

body {
  background-color: floralwhite;
  padding: 0;
  margin: 0;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
}

.oculta {
  display: none !important;
}
